In [1]:
# import library matplotlib
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
#ambil data CSV
data = pd.read_csv('D:\\data_mobil.csv')

In [4]:
# menampilkan baris dan kolom
data.shape

(53, 8)

In [5]:
#tampilkan 5 adata terakhir
data.head()

,Merk,Brand,Transmisi,cc,km,tahun,harga,harga_juta
0,Toyota Kijang Innova,1,1,1998,71500,2018,265000000,265.0
1,Toyota Sienta,1,1,1497,90000,2016,172000000,172.0
2,Toyota Fortuner,1,1,2393,15000,2021,575000000,575.0
3,Toyota Fortuner,1,1,2393,75000,2016,385000000,385.0
4,Toyota Harrier,1,1,1986,65000,2015,569000000,569.0

In [7]:
# cari karakteristik dari transmisi dan brand
data ['Transmisi']

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    0
23    0
24    1
25    1
26    1
27    1
28    0
29    1
30    1
31    1
32    1
33    1
34    0
35    1
36    1
37    1
38    1
39    1
40    1
41    1
42    1
43    1
44    1
45    0
46    0
47    1
48    1
49    1
50    1
51    1
52    1
Name: Transmisi, dtype: int64

In [10]:
# diubah transmisi 1 = Automatic, 0 = Manual
data.loc[(data["Transmisi"]==1),"Transmisi"] = "Automatic"
data.loc[(data["Transmisi"]==2),"Transmisi"] = "Manual"

data["Transmisi"]

0     Automatic
1     Automatic
2     Automatic
3     Automatic
4     Automatic
5     Automatic
6     Automatic
7     Automatic
8     Automatic
9     Automatic
10    Automatic
11    Automatic
12    Automatic
13    Automatic
14    Automatic
15    Automatic
16    Automatic
17    Automatic
18    Automatic
19    Automatic
20    Automatic
21    Automatic
22       Manual
23       Manual
24    Automatic
25    Automatic
26    Automatic
27    Automatic
28       Manual
29    Automatic
30    Automatic
31    Automatic
32    Automatic
33    Automatic
34       Manual
35    Automatic
36    Automatic
37    Automatic
38    Automatic
39    Automatic
40    Automatic
41    Automatic
42    Automatic
43    Automatic
44    Automatic
45       Manual
46       Manual
47    Automatic
48    Automatic
49    Automatic
50    Automatic
51    Automatic
52    Automatic
Name: Transmisi, dtype: object

In [9]:
# buatlah perkiraaan penyusutan harga mobil bekas 2 tahun berikutnya - >2%
data = data.assign(harga_1 = data["harga_juta"]* 0.98)
data = data.assign(harga_2 = data["harga_1"]* 0.98)

data

,Merk,Brand,Transmisi,cc,km,tahun,harga,harga_juta,harga_1,harga_2
0,Toyota Kijang Innova,1,Automatic,1998,71500,2018,265000000,265.0,259.700,254.50600
1,Toyota Sienta,1,Automatic,1497,90000,2016,172000000,172.0,168.560,165.18880
2,Toyota Fortuner,1,Automatic,2393,15000,2021,575000000,575.0,563.500,552.23000
3,Toyota Fortuner,1,Automatic,2393,75000,2016,385000000,385.0,377.300,369.75400
4,Toyota Harrier,1,Automatic,1986,65000,2015,569000000,569.0,557.620,546.46760
5,Toyota Camry Hybrid Sedan,1,Automatic,2487,6000,2021,750000000,750.0,735.000,720.30000
6,Toyota Alphard,1,Automatic,2494,25000,2020,1200000000,1200.0,1176.000,1152.48000
7,Toyota Avanza,1,Automatic,1496,70000,2017,177000000,177.0,173.460,169.99080
8,Toyota Yaris,1,Automatic,1496,25000,2018,261000000,261.0,255.780,250.66440
9,Toyota Camry,1,Automatic,2494,25000,2019,551000000,551.0,539.980,529.18040
10,Toyota Avanza,1,Automatic,1496,100000,2016,142000000,142.0,139.160,136.37680
11,Toyota Vios,1,Automatic,1496,65000,2018,206000000,206.0,201.880,197.84240
12,Toyota Camry,1,Automatic,2494,93000,2013,190000000,190.0,186.200,182.47600
13,Toyota Kijang Innova,1,Automatic,1998,6900,2018,299800000,299.8,293.804,287.92792
14,Toyota Fortuner,1,Automatic,2494,200000,2009,200000000,200.0,196.000,192.08000
15,Toyota Vios,1,Automatic,1497,125000,2014,144000000,144.0,141.120,138.29760
16,Toyota Avanza,1,Automatic,1496,40000,2019,199000000,199.0,195.020,191.11960
17,Toyota Avanza,1,Automatic,1496,15000,2021,238000000,238.0,233.240,228.57520
18,Toyota Calya,1,Automatic,1197,25000,2019,138000000,138.0,135.240,132.53520
19,Toyota Avanza,1,Automatic,1496,20000,2021,230000000,230.0,225.400,220.89200
20,Toyota Avanza,1,Automatic,1496,110000,2017,153000000,153.0,149.940,146.94120
21,Toyota Avanza,1,Automatic,1496,110000,2014,115000000,115.0,112.700,110.44600
22,Toyota Kijang Innova,1,Manual,1998,155000,2011,180000000,180.0,176.400,172.87200
23,Toyota Kijang Innova,1,Manual,1998,155000,2008,125000000,125.0,122.500,120.05000
24,Toyota Kijang Innova,1,Automatic,1998,40000,2015,285000000,285.0,279.300,273.71400
25,Toyota Kijang Innova,1,Automatic,1998,20000,2019,330000000,330.0,323.400,316.93200
26,Toyota Avanza,1,Automatic,1496,25000,2018,185000000,185.0,181.300,177.67400
27,Toyota Avanza,1,Automatic,1496,63010,2019,190000000,190.0,186.200,182.47600
28,Toyota Avanza,1,Manual,1496,115000,2016,147500000,147.5,144.550,141.65900
29,Toyota Calya,1,Automatic,1197,75000,2018,122000000,122.0,119.560,117.16880
30,Toyota Vios,1,Automatic,1496,110000,2009,90000000,90.0,88.200,86.43600
31,Toyota Yaris,1,Automatic,1496,46149,2018,231000000,231.0,226.380,221.85240
32,Toyota Avanza,1,Automatic,1496,202147,2011,94000000,94.0,92.120,90.27760
33,Toyota Avanza,1,Automatic,1496,15000,2021,290000000,290.0,284.200,278.51600
34,Toyota Rush,1,Manual,1496,45000,2015,168000000,168.0,164.640,161.34720
35,Toyota Avanza,1,Automatic,1496,135000,2012,118000000,118.0,115.640,113.32720
36,Toyota Agya,1,Automatic,1197,36959,2019,136000000,136.0,133.280,130.61440
37,Toyota Voxy,1,Automatic,2494,45000,2017,381000000,381.0,373.380,365.91240
38,Toyota Rush,1,Automatic,1496,55000,2019,225000000,225.0,220.500,216.09000
39,Toyota Yaris,1,Automatic,1496,145000,2012,125000000,125.0,122.500,120.05000
40,Toyota Vios,1,Automatic,1496,65000,2018,206000000,206.0,201.880,197.84240
41,Toyota Yaris,1,Automatic,1496,35000,2018,227000000,227.0,222.460,218.01080
42,Toyota Avanza,1,Automatic,1496,100000,2016,152000000,152.0,148.960,145.98080
43,Toyota Avanza,1,Automatic,1496,10000,2018,199000000,199.0,195.020,191.11960
44,Toyota Agya,1,Automatic,998,75000,2016,109000000,109.0,106.820,104.68360
45,Toyota Avanza,1,Manual,1296,200000,2013,50000000,50.0,49.000,48.02000
46,Toyota Corolla,1,Manual,1597,220000,1990,50000000,50.0,49.000,48.02000
47,Toyota Vios,1,Automatic,1496,170000,2010,100000000,100.0,98.000,96.04000
48,Toyota Calya,1,Automatic,1197,80000,2017,100000000,100.0,98.000,96.04000
49,Toyota Avanza,1,Automatic,1497,70000,2015,150000000,150.0,147.000,144.06000
50,Toyota Rush,1,Automatic,1497,55000,2018,200000000,200.0,196.000,192.08000
51,Toyota Corolla Sedan,1,Automatic,1797,80000,2015,200000000,200.0,196.000,192.08000
52,Toyota Corolla Sedan,1,Automatic,1797,60000,2018,250000000,250.0,245.000,240.10000

In [25]:
#filtering
#1. carilah mobil diatas tahun 2015
#2. carilah mobil dengan harga 200jt-270jt

f1 = data[data['tahun']>2015]
f2 = data[(data['harga_juta']>=200) & (data['harga_juta']<=270)]

f2

,Merk,Brand,Transmisi,cc,km,tahun,harga,harga_juta,harga_1,harga_2
0,Toyota Kijang Innova,1,Automatic,1998,71500,2018,265000000,265.0,259.70,254.5060
8,Toyota Yaris,1,Automatic,1496,25000,2018,261000000,261.0,255.78,250.6644
11,Toyota Vios,1,Automatic,1496,65000,2018,206000000,206.0,201.88,197.8424
14,Toyota Fortuner,1,Automatic,2494,200000,2009,200000000,200.0,196.00,192.0800
17,Toyota Avanza,1,Automatic,1496,15000,2021,238000000,238.0,233.24,228.5752
19,Toyota Avanza,1,Automatic,1496,20000,2021,230000000,230.0,225.40,220.8920
31,Toyota Yaris,1,Automatic,1496,46149,2018,231000000,231.0,226.38,221.8524
38,Toyota Rush,1,Automatic,1496,55000,2019,225000000,225.0,220.50,216.0900
40,Toyota Vios,1,Automatic,1496,65000,2018,206000000,206.0,201.88,197.8424
41,Toyota Yaris,1,Automatic,1496,35000,2018,227000000,227.0,222.46,218.0108
50,Toyota Rush,1,Automatic,1497,55000,2018,200000000,200.0,196.00,192.0800
51,Toyota Corolla Sedan,1,Automatic,1797,80000,2015,200000000,200.0,196.00,192.0800
52,Toyota Corolla Sedan,1,Automatic,1797,60000,2018,250000000,250.0,245.00,240.1000